/*
!.gitignore
!/README.md
!/install.sh
!/scripts/

# All directories that are being tracted
!/zsh/
!/tmux/
!/qtile/
!/alacritty/
!/git/
!/hypr/
!/waybar/
!/wofi/
!/zathura/

# zsh ignores
/zsh/.zcompdump
/zsh/zsh-export
/zsh/zsh-variables
/zsh/plugins/

# other ignores
**/__pycache__
/hypr/hyprpaper.conf
