/*
!.gitignore
!/README.md
!/install.sh
!/scripts/

# All directories that are being tracted
!/zsh/
!/tmux/
!/qtile/
!/alacritty/

# zsh ignores
/zsh/.zcompdump
/zsh/zsh-export
/zsh/plugins/

# other ignores
**/__pycache__
